body{
    background-color: #FFE4C4;
}

#header{
    background-color: #ffcccc;
    height: 100px;
    margin: 10px 10px 0px 10px;
    background-size: 100%;
    border-radius: 5px;
}

nav {
    background-color: #FFE4E1;
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}
nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
    color: #FFA07A;
    border-bottom: none;
    font-weight: bold;
}
nav ul li.selected {
    background-color: #FFC0CB;
}
